@import "root.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 47px;
}

.header-nav {
    width: 322px;
}

.nav-logo {
    padding-right: 81px;
}

.nav {
    padding-left: 40px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav li {
    display: inline-block;
}

.nav-bold {
    font-weight: 800;
}