:root {
    --a: #4B5D68;
    --a-rgb: 75,93,104;
    --b: #212353;
    --b-rgb: 33,35,83;
    --c: #9C69E2;
    --c-rgb: 156,105,226;
    --d: #F063B8;
    --d-rgb: 240,99,184;
    --e: #68C9BA;
    --e-rgb: 104,201,186;
    --f: #2D9CDB;
    --f-rgb: 45,156,219;
}